

.header__container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem .5rem; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background:var(--color-bg);
}

.header__title{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-text);
}
.header__theme-toggle{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-bg);
    border: none; 
    color: var(--color-text);
    cursor: pointer;
}
.header__theme-icon{
    font-size: 1rem;
    color:var(--color-text);
    transition: color 0.3s ease;

}