.card__component-container{
    display:grid;
    gap: 1.5rem;
    padding: 1rem 1rem;
    grid-template-columns: (auto-fll, minmax(250px, 1fr));
    justify-content: center;
    align-items: start;
}


@media screen and (min-width:768px) {
    
    .card__component-container{
         display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
     align-items: stretch; 
    }
}