.card__container{
    background-color: var(--color-element);
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
   /* transition: transform 0.2s ease, box-shadow -; */
    width: 300px; 
}

.card__image{
    width: 100%;
    height: 160px;
    object-fit: cover;
    
}

.card__info-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
 
}

.card__info-header{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-text);
}

.card__info-item{
    font-size: 0.9rem;
    color: var(--color-text);
    font-weight: 200;
}

@media screen and (min-width:768px){
    .card__container{
        width: 80%;
        margin: 0 auto; 
        height: 100%;
    }
    .card__info-header{
        font-weight: bold;
        line-height: 1.2rem;
        max-height: 2.4rem;   /* enough for 2 lines */
        overflow: hidden;     /* hide extra text */
        text-overflow: ellipsis;
    }

}