.card__container{
    background-color: var(--color-element);
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
   /* transition: transform 0.2s ease, box-shadow -; */
    width: 300px; 
}

.card__image{
    width: 100%;
    height: 160px;
    object-fit: cover;
    
}

.card__info-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.card__info-header{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-text);
}

.card__info-item{
    font-size: 0.9rem;
    color: var(--color-text);
    font-weight: 200;
}