/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Nunito Sans';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    flex-direction: row;
    align-items:  center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right:40px;
    border:  5px solid pink;
}
.list-view-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(260px, 1fr));

    padding: .25rem

}

.list-item {
    width: 250px;
    height: 400px;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    
}
.list-item-info{
 padding: 1rem;
}
.list-item-image {
    overflow: none;

}

img {
    max-width: 100%;
    object-fit: fill;
}

.list-item-info h1 {
    font-size: 32px;
   
}

.list-item-info h2 {
    font-size: 16px;
}

li {
    list-style: none;
    margin: 3rem;
}