/*Light mode (default) */

:root{
    --color-bg: hsl(0,0%, 99%);
    --color-text: hsl(200,15%, 8%);
    --color-input: hsl(0,0%,50%);
    --color-element: hsl(0,100%, 100%);
    --color-accent: hsl(209,23%,22%);
}

/* Dark mode */
[data-theme="dark-theme"]{
    --color-bg: hsl(207,26%, 17%);
    --color-text:hsl(0,100%,100%);
    --color-input:hsl(0, 100%, 100%);
    --color-element: hsl(209,23%, 22%);
    --color-accent: hsl(209,23%, 22%);

}