<div class="filter-dropdown">
    <button class="filter-dropdown__toggle" (click)="toggleDropdown()">
        Filter By Region
        <span class="filter-dropdown__icon">▼</span>
    </button>
    <ul class="filter-dropdown__menu"  [class.show]="dropdownOpen">
        <li class="filter-dropdown__item"
        *ngFor ="let r of region"
        (click)="onFilterChange(r)">
            {{r}}   

        </li>
        <li class="filter-dropdown__item" (click)="onFilterChange('')">All Regions</li>
    </ul>
</div>