/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Nunito Sans';
}
.list-item{
    
    width:255px;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.list-item-image {
    overflow: none;
   
}

img{
    max-width: 100%;
    object-fit: contain;
}
.list-item-info h1{
    font-size: 32px;

}
.list-item-info h2{
    font-size:16px;
}

li{
    list-style: none;
    margin: 3rem;
}