.card__list-container{
    display:grid;
    gap: 1.5rem;
    padding: 1rem 1rem;
    grid-template-columns: (auto-fll, minmax(250px, 1fr));
    justify-content: center;
    align-items: start;
}


@media screen and (min-width:768px) {
    
    .card__list-container{
         display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    row-gap: 3rem;
     align-items: stretch; 
    }
}

@media screen and (min-width: 1920px){
    .card__component-container{
        grid-template-columns: repeat(6,1fr);
    }
}